<!-- inside app/views/welcome/index.html.erb -->  

<main>
  <section class="py-5 text-center">
    <div class="row py-lg-5">
      <div class="col-12 text-center">
        <h1 class="fw-light">Most Voted article</h1>
      </div>
      <div class="row">
        <h2 class="col-3">Categories displayed using grid</h2>
        <h2 class="col-3">Categories displayed using grid</h2>
        <h2 class="col-3">Categories displayed using grid</h2>
        <h2 class="col-3">Categories displayed using grid</h2>
      </div>
    </div>
  </section>
</main>