// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #4D443D;
}

.nav-title {
  color: orange;
  font-size: 20px;
}

.white-color {
  color: white;
  text-decoration: none;
}
