<div class="first-row row">
  <img src="<%= url_for(most_voted(@articles).image) %>" alt="most-voted-article" class="most-voted-img mt-4 p-0">
</div>
<div class="second-row row mt-2 mb-2">
  <%= display_cat(@categories) %>
</div>
